:root {
  --blue-10: rgba(230, 242, 249, 1);
  --blue-20: rgba(205, 229, 243, 1);
  --blue-30: rgba(155, 202, 231, 1);
  --blue-40: rgba(106, 176, 218, 1);
  --blue-50: rgba(56, 149, 206, 1);
  --blue-60: rgba(6, 123, 194, 1);
  --blue-70: rgba(5, 98, 155, 1);
  --blue-80: rgba(4, 74, 116, 1);
  --blue-90: rgba(2, 49, 78, 1);
  --blue-100: rgba(1, 25, 39, 1);
  --green-10: rgba(231, 245, 240, 1);
  --green-20: rgba(208, 235, 226, 1);
  --green-30: rgba(160, 215, 197, 1);
  --green-40: rgba(113, 194, 169, 1);
  --green-50: rgba(65, 174, 140, 1);
  --green-60: rgba(18, 154, 111, 1);
  --green-70: rgba(14, 123, 89, 1);
  --green-80: rgba(11, 92, 67, 1);
  --green-90: rgba(7, 62, 44, 1);
  --green-100: rgba(4, 31, 22, 1);
  --red-10: rgba(254, 236, 236, 1);
  --red-20: rgba(253, 218, 217, 1);
  --red-30: rgba(251, 181, 179, 1);
  --red-40: rgba(250, 145, 140, 1);
  --red-50: rgba(248, 108, 102, 1);
  --red-60: rgba(246, 71, 64, 1);
  --red-70: rgba(197, 57, 51, 1);
  --red-80: rgba(148, 43, 38, 1);
  --red-90: rgba(98, 28, 26, 1);
  --red-100: rgba(49, 14, 13, 1);
  --lemon-10: rgba(254, 254, 248, 1);
  --lemon-20: rgba(253, 253, 241, 1);
  --lemon-30: rgba(251, 250, 228, 1);
  --lemon-40: rgba(249, 248, 214, 1);
  --lemon-50: rgba(247, 245, 201, 1);
  --lemon-60: rgba(245, 243, 187, 1);
  --lemon-70: rgba(196, 194, 150, 1);
  --lemon-80: rgba(147, 146, 112, 1);
  --lemon-90: rgba(98, 97, 75, 1);
  --lemon-100: rgba(49, 49, 37, 1);
  --pink-10: rgba(254, 244, 251, 1);
  --pink-20: rgba(253, 234, 248, 1);
  --pink-30: rgba(251, 213, 240, 1);
  --pink-40: rgba(248, 193, 233, 1);
  --pink-50: rgba(246, 172, 225, 1);
  --pink-60: rgba(244, 151, 218, 1);
  --pink-70: rgba(195, 121, 174, 1);
  --pink-80: rgba(146, 91, 131, 1);
  --pink-90: rgba(98, 60, 87, 1);
  --pink-100: rgba(49, 30, 44, 1);
  --navy-10: rgba(232, 233, 238, 1);
  --navy-20: rgba(210, 213, 222, 1);
  --navy-30: rgba(166, 171, 189, 1);
  --navy-40: rgba(121, 128, 155, 1);
  --navy-50: rgba(77, 86, 122, 1);
  --navy-60: rgba(32, 44, 89, 1);
  --navy-70: rgba(26, 35, 71, 1);
  --navy-80: rgba(19, 26, 53, 1);
  --navy-90: rgba(13, 18, 36, 1);
  --navy-100: rgba(6, 9, 18, 1);
  --hero-font-family: "RobotoFlex-Bold", Helvetica;
  --hero-font-weight: 700;
  --hero-font-size: 40px;
  --hero-letter-spacing: 0px;
  --hero-line-height: normal;
  --hero-font-style: normal;
  --body-font-family: "RobotoFlex-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 12px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
}

