{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ project.title}}</title><!-- Link to the external CSS file -->
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/styleguide.css">
  <link rel="stylesheet" href="/static/css/map.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
</head>

<h1>MAP</h1>
<div id="map">
    {% leaflet_map "map" callback="map_init" %}
</div>

<script type="text/javascript">
    function map_init(map, options) {
        var lon = 172.6333
        var lat = -43.5299
        var map = map.setView([lat, lon], 12);
        L.tileLayer('https://tiles-cdn.koordinates.com/services;key=5fd34ef40f0342578716600c8e641145/tiles/v4/layer=115053/EPSG:3857/{z}/{x}/{y}.png', {
            maxZoom: 19
        }).addTo(map);
    }
</script>
</html>
